body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937; 
    height: 60px;
    padding: 5px;
    
}

.right-header{
    display: flex;
    gap: 15px;
    margin-right: 150px;
}

.left-header{
    display: flex;
    margin-left: 100px;
    font-size: 35px;
}
a{
    color: #E5E7EB;
    text-decoration: none;
}

.info-container{
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
}

.info-box{
    overflow-wrap: break-word;
    max-width: 500px;
    margin-left: 100px;
}

.info h2{
    font-size: 48px;
}

.info p{
    font-size: 18px;
    margin-top: -25px;
}


.block{
    display: block;
    cursor: pointer;
    font-size: large;
    transition: 0.2s all;
}

.block:active{
    transform: scale(1.5);
}

.img-container{
    height: 400px;
    width: 300px;
}

.img-container img{
    height: 100%;
    width: 100%;
}

.project-section{
    background-color: lightblue;
}

.title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-top: 30px;
}


.project-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

}

.projects{
    width: 200px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 150px;}

.projects img{
    height: 100%;
}

.projetcs, .text, p{
    text-align: center;
    margin-top: -10px;
    
}

.quote-section{
    background-color: bisque;
}

.quote-header h1{
    margin: 0;
    text-align: center;
    padding-top: 15px;
}

.quote-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.quote{
    overflow-wrap: break-word;
    max-width: 600px;
    font-size: 20px;
}

.quote p{
    text-align: end;
    margin-top: 10px;
}

.contact-section{
    background-color: lightblue;
}

.contact-header{
    margin: 0;
    text-align: center;
    padding-top: 30px;
}

.contact-container{
    padding-top: 10px;
    padding-bottom: 20px;
}
.contact-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.contact-info{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contact-info a {
    color: black
}

.contact-info a:hover {
    color: darkblue;
    font-weight: bolder;
 
}

footer p{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    background-color: #1F2937;
    color: white;
}