body{
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1F2937; 
    height: 60px;
    padding: 5px;
    
}

.right-header{
    display: flex;
    gap: 15px;
    margin-right: 150px;
}

.left-header{
    display: flex;
    margin-left: 100px;
    font-size: 35px;
}
a{
    color: #E5E7EB;
    text-decoration: none;
}

.info-container{
    border: solid lightblue;
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    height: 600px;
    align-items: center;
    justify-content: space-evenly;
}

.info-box{
    overflow-wrap: break-word;
    max-width: 500px;
    border: solid;
    margin-left: 100px;
}

.info h2{
    font-size: 48px;
}

.info p{
    font-size: 18px;
    margin-top: -25px;
}


.block{
    display: block;
    cursor: pointer;
    font-size: large;
    transition: 0.2s all;
}

.block:active{
    transform: scale(1.5);
}

.img-container{
    border: solid white;
    height: 400px;
    width: 300px;
}

.img-container img{
    height: 100%;
    width: 100%;
}